<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cbx-baidu-push" version="0.0.1">
    <name>CbxBaiduPushPlugin</name>

    <description>An Android Cordova plugin that allows users to receive push notification from Baidu.</description>
    <license>MIT</license>

    <keywords>cordova,android,push,message,alert</keywords>
    <repo>https://github.com/kelvinkg/CbxBaiduPushPlugin.git</repo>
    <issue>https://github.com/kelvinkg/issues</issue>

    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>

    <js-module src="www/cbxBaiduPushPlugin.js" name="cbxBaiduPushPlugin">
        <clobbers target="window.plugins.cbxBaiduPushPlugin" />
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="CbxBaiduPushPlugin">
                <param name="android-package" value="com.cbx.baidu.push.CbxBaiduPushPlugin"/>
            </feature>
        </config-file>

        <source-file src="src/android/CbxBaiduPushPlugin.java" target-dir="src/com/cbx/baidu/push" />
    </platform>
</plugin>
